.dashboard-container {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.dashboard-content {
  margin-left: 200px; 
  margin-top: 60px;
  padding: 20px;
  flex: 1;
  overflow-y: auto;
  background-color: #f7f9fc;
  min-height: 100vh;
}
