.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #fff;
  color: #fff;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  color: #00d1b2;
  margin-bottom: 30px;
}

.sidebar nav a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 4px;
}

.sidebar nav a:hover,
.sidebar nav a.active {
  background-color: #00d1b2;
  color: #1e1e2f;
}
